@if (renderer === 'maplibre') {
  <app-radar-map-maplibre
    [articles]="articles()"
    [countries]="countries()"
    [mapSummary]="mapSummary()"
    [mapRelations]="mapRelations()"
    [focusCountryCode]="focusCountryCode()"
    [isSidebarOpen]="isSidebarOpen()"
    (markerClicked)="markerClicked.emit($event)"
    (clusterClicked)="clusterClicked.emit($event)"
    (countryClicked)="countryClicked.emit($event)"
    (relationClicked)="relationClicked.emit($event)"
  />
} @else {
  <app-radar-map-leaflet
    [articles]="articles()"
    [countries]="countries()"
    [mapSummary]="mapSummary()"
    [mapRelations]="mapRelations()"
    [focusCountryCode]="focusCountryCode()"
    [isSidebarOpen]="isSidebarOpen()"
    (markerClicked)="markerClicked.emit($event)"
    (clusterClicked)="clusterClicked.emit($event)"
    (countryClicked)="countryClicked.emit($event)"
    (relationClicked)="relationClicked.emit($event)"
  />
}
